body{
  background-image: url(https://avatars.mds.yandex.net/get-pdb/1245924/724284f6-9a6d-4b38-ac2c-740ef566311f/s600);
}
{box-sizing: border-box;}
body{margin: 0;}
div {padding: 30px 0}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.d1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
.d1 button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-image:image(C:\Users\Vinnick\github\searching\lupa.png);
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
p{
  font-size: 25px;
  font-weight: normal;
  color: #00ffff;
}
#search{
 font-size-adjust: 75px;
 color: #00ffff;
 background-image: url(https://image.freepik.com/free-vector/_23-2147721684.jpg?3);
}
#vk{
 font-size-adjust: 75px;
 color: #00ffff;
 background-image: url(https://image.freepik.com/free-vector/_23-2147721684.jpg?3);
 width: 300px;
 height: 50px;
 cursor: pointer;
}
#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li { display: inline; }
#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 2px solid #0066FF;
  border-radius: 5px;
  width: 550px;
  text-align: center;
  background-color: #33ADFF;
  display: inline-block;
}
#navbar a {
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 100px;
}
#navbar a:hover {
  border-radius: 5px;
  background-color: #0066FF;
}

.fornavbar{
  text-align: center;
}
